<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}
</style>
<title>Sign Up | Gabble</title>
<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>

<ul>
  <li><a href="home">Home</a></li>
  <li><a href="create">Create a new gab</a></li>
  <li><a href="login">Log in</a></li>
  <li><a class="active" href="signup">Sign up</a></li>
</ul>


<div class="signupform">
<h2>Sign up</h2>
<br>
<form action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"><br>
    <label for="password">Password</label><br>
    <input type="password" name = "password"><br>
    <label for="confirmation">Password confirmation</label><br>
    <input type="password" name="confirmation"><br>
    <br>
    <button type="submit" name="su-submit-button">Sign up</button>
</form>

{{#errors}}
{{.}}
{{/errors}}

</div>

</body>
</html>
